{
  "extends": "@segment/eslint-config/browser/legacy",
  "rules": {
    "semi": "off", // ejs template warning
    "quotes": ["error", "single"],
    "strict": "off",
    "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 0 }], // no empty lines at beginning of file
    "eol-last": ["error", "never"], // no empty lines at end
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "wrap-iife": ["error", "inside"]
  }
}
